<mat-card class="cardWithShadow">
  <mat-card-content style="text-align: center;">
      
      <h1 class="titulo" style="margin-bottom: 20px;">Proyecto Segundo Parcial</h1>
      <h2 class="subtitulo">Base de Datos I</h2>
      <p class="descripcion">Aplicación de Veterinaria</p>

      <br>
      <h4>Integrantes</h4>
        <p>Andros Castro 202310030142</p>
        <p>Angel Rivera 202330010471</p>
        <p>Johan Aleman 202420050125</p>
        <p>Juana Melgar 201830020083</p>
        <p>Perla López 202230130102</p>
        <p>Yostin Valle 202210080051</p>
    
  </mat-card-content>
</mat-card>