<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="acciones" style="display: flex; justify-content: space-between; align-items: center;">
        <h4>Pacientes</h4>
        <div>
            <button mat-raised-button color="primary" (click)="abrirDialogo()">Agregar</button>
            <button mat-raised-button color="secundary" (click)="recargar()">Recargar</button>
        </div>
    </div>

    <hr>
    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!cargando">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let e">{{ e.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let e">{{ e.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="raza">
            <th mat-header-cell *matHeaderCellDef>Raza</th>
            <td mat-cell *matCellDef="let e">{{ e.raza }}</td>
        </ng-container>

        <ng-container matColumnDef="propietario">
            <th mat-header-cell *matHeaderCellDef>Dueño</th>
            <td mat-cell *matCellDef="let e">{{ e.propietario }}</td>
        </ng-container>

        <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef>Edad (años)</th>
            <td mat-cell *matCellDef="let e">{{ e.edad }}</td>
        </ng-container>

        <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef>Sexo</th>
            <td mat-cell *matCellDef="let e">{{ e.sexo }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef [style.width.px]="120">Acciones</th>
            <td mat-cell *matCellDef="let e">
            <button mat-icon-button (click)="abrirDialogo(e)">
                <mat-icon style="font-size: 18px;">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminar(e.id)">
                <mat-icon style="font-size: 18px; color: red;">delete</mat-icon>
            </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      showFirstLastButtons
      [pageSize]="10"
    ></mat-paginator>
  </mat-card-content>
</mat-card>

<ng-template #formDialog>
  <h2 mat-dialog-title>{{ editando ? 'Editar' : 'Agregar' }} Paciente</h2>
  <div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="w-full" style="width: 100%; margin-top: 5px;">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" maxlength="100" />
            <mat-error *ngIf="form.controls['nombre'].hasError('required')">
            El nombre es requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full" style="width: 100%; margin-top: 10px;">
            <mat-label>Raza</mat-label>
            <mat-select formControlName="razaId">
            <mat-option *ngFor="let raza of razas" [value]="raza.id">
                {{ raza.nombre }}
            </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['razaId'].hasError('required')">
            La raza es obligatoria
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full" style="width: 100%; margin-top: 10px;">
            <mat-label>Propietario</mat-label>
            <mat-select formControlName="propietarioId">
            <mat-option *ngFor="let propietario of propietarios" [value]="propietario.id">
                {{ propietario.nombres }} {{ propietario.apellidos }}
            </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['propietarioId'].hasError('required')">
            El propietario es obligatorio
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full" style="width: 50%; margin-top: 10px;">
            <mat-label>Edad</mat-label>
            <input matInput type="number" formControlName="edad" min="0" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full" style="width: 50%; margin-top: 10px;">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo">
            <mat-option value="M">Macho</mat-option>
            <mat-option value="H">Hembra</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [disabled]="guardando" (click)="dialog.closeAll()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="guardando" (click)="guardar()">
      <ng-container *ngIf="guardando">
        <mat-spinner diameter="20" strokeWidth="3"></mat-spinner>
      </ng-container>
      <ng-container *ngIf="!guardando">
        Guardar
      </ng-container>
    </button>
  </div>
</ng-template>